@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Palatino"; /*"Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;*/
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #1e2640; /* fallback for old browsers */
  /*
  background: -webkit-linear-gradient(
    to right,
    #0d324d,
    #7f5a83
  ); /* Chrome 10-25, Safari 5.1-6 
  background: linear-gradient(
    to right,
    #0d324d,
    #7f5a83
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*
  grid-template-rows: 1fr 1fr;

  height: 100%;
  */
  width: 100%;
}

.gridCell {
  height: 100%;
}

.titleHeader {
  /*background-color: #1e1e1e;*/
  color: #f3eac0;
  margin: 0;

  /*
  padding: 1em 0;
  padding-left: 1em;
  */
}

.titleHeader h1 {
    font-size: 4rem;
  margin: 0;
  text-align: center;
}

.card {
  height: 100%;
  width: 400px;

  margin-bottom: 1em;

  background: #045174;

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;

  animation: rollout 1s;
}

@keyframes rollout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.card h2 {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #f3eac0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  font-weight: bolder;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.valueContainer {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.card p {
    color: #f3eac0;
}

.valueContainer p {
  font-size: 7em;
  font-weight: bolder !important;
  }

.leaderboardValueContainer p {
  font-size: 2em;
  /*font-weight: bolder !important;*/
  }

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}

.cardCategoryContainer {
  padding: 0 0.5em;
}

.cardCategoryContainer h1 {
  color: #f3eac0;
  font-size: 3em;
  margin-bottom: 0.25em;
}


.warningImportant  {
  background: #922c40 !important;
}

.warningCaution  {
  background: #dc9750;
}

.warningCaution h2, .warningCaution p {
    color: #000000 !important;
}

.warningSome  {
  background: #fad02c;
}

.warningSome h2, .warningSome p {
    color: #000000 !important;
}

.warningNone  {
  background: #1b8935;
}

.categoryContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loadingScreen {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3em;
}

.serverErrorIcon {
    /*
  position: absolute;
  bottom: 0;
  right: 0;
  */

  padding: 1em;

  transition: opacity 1s;
}

.serverErrorIcon img {
  width: 150px;
}

.digitalClock {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-around;
  align-items: right;
  flex-direction: column;
}

.digitalClock p {
    color: #f3eac0;
    font-weight: bold;
  font-size: 3em;
}

.leaderboardValueContainer {
  color: #f3eac0;
  justify-content: center;
  align-items: center;

  font-size: 2em;
  font-weight: bolder;
    width: 80%
}


.leaderboardValueContainer table {
    width: 100%
}
