@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Oxygen", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #546e88,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #546e88,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.titleHeader {
  background-color: #1e1e1e;
  color: white;
  margin: 0;

  padding: 1em 0;
  padding-left: 1em;
}

.titleHeader h1 {
  margin: 0;
}

.card {
  height: 100%;
  width: 300px;

  margin: 1em;

  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;

  animation: rollout 1s;
}

@keyframes rollout {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: none;
  }
}

.card h2 {
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2em;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.valueContainer {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
}

.card p {
  font-size: 5em;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  height: 70%;
}

.cardCategoryContainer {
  margin: 0 1em;
  padding: 1em;
  border-radius: 15px;

  border-bottom: 1px solid black;
}

.cardCategoryContainer h1 {
  color: white;
  font-size: 3em;
  height: 20%;
}

.warningImportant {
  background: #ee0979; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ff6a00,
    #ee0979
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ff6a00,
    #ee0979
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.warningCaution {
  background: #9d50bb; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6e48aa,
    #9d50bb
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6e48aa,
    #9d50bb
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.categoryContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.loadingScreen {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 3em;
}
